@font-face {
  font-family: "CabinetGroteskBold";
  src: local("CabinetGroteskBold"),
    url("./Font/Cabinet-Medium/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "junegull";
  src: local("junegull"), url("./Font/junegull/junegull.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "mostra-nuova", sans-serif;
  src: local("Mostra Nuova"),
    url("./Font/MostraNuova/FontsFree-Net-aa.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./Font/Inter/Inter-Bold.ttf ") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "mostra-nuova", sans-serif;
}

body {
  margin: 0;
  font-family: "mostra-nuova", sans-serif;
  background-color: #1b2c38;
  /* overflow-x: hidden; */
  overflow: hidden;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.slick-slider {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  bottom: 0px;
}

.slide_img > a > img {
  width: 100%;
  max-width: 110px;
}
.slick-slide > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 110px;
}
.slick-slide > img {
  display: flex;
  align-items: center;
}
.slick-arrow {
  display: none;
}

#demo_1 {
  font-size: 13px;
}
.slick-prev {
  transform: translate(46px, 10.6rem);
  display: none !important;
}

.slick-next {
  transform: translate(-46px, 10.6rem);
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .slick-slider {
    max-width: 820px;
  }
}

@media screen and (max-width: 1080px) {
  .slick-slider {
    max-width: 645px;
  }
}

@media screen and (max-width: 1024px) {
  .slick-slider {
    max-width: 570px;
  }
}

@media screen and (max-width: 920px) {
  .slick-slider {
    max-width: 485px;
  }
}

@media screen and (max-width: 820px) {
  .slick-slider {
    max-width: 375px;
  }
}

@media screen and (max-width: 768px) {
  .slick-slider {
    max-width: 665px;
  }
}

@media screen and (max-width: 540px) {
  .slick-slider {
    max-width: 450px;
  }
}

@media screen and (max-width: 414px) {
  .slick-slider {
    max-width: 310px;
  }
}

@media screen and (max-width: 375px) {
  .slick-slider {
    max-width: 280px;
  }

  #demo_1 {
    font-size: 7px;
  }
}

@media screen and (max-width: 390px) {
  .slick-slider {
    max-width: 300px;
  }
}

@media screen and (max-width: 290px) {
  .slick-slider {
    max-width: 200px;
  }
}

input:focus,
input:focus {
  outline: none;
}

.goog-te-gadget span {
  display: none;
}

.goog-te-gadget,
.goog-te-combo {
  padding: 10px 0px 10px 0px;
  border-radius: 8px;
}

.maintenance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.maintenance-wrapper h2 {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
}

.hide {
  display: none;
}

.Head-2 {
  padding-top: 25px !important;
}

.active {
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-container {
  display: flex;
}

.accordion-wrapper + * {
  margin-top: 0.5em;
}

.accordion-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
  margin: 20px 0px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  margin: 0px;
}

.accordion-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.accordion-title:hover,
.accordion-title.open {
  color: #fff;
}

.accordion-title.open::after {
  content: "";
  border-top: 0;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #112533;
  border-radius: 8px;
  padding: 20px 5px;
}

.bet-btn {
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #fc4c1e;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  max-width: 320px;
  /* margin: 7px 0px; */
  height: 35px;
}

.accordianRow .rowData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.changeItem p {
  width: 50px;
}

textarea:focus,
textarea:focus {
  outline: none;
}

.changeItem button {
  cursor: pointer;
  align-items: center;
  background: #fc4c1e;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-size: 15px;
  height: 21px;
  justify-content: center;
  width: 150px;
}

@media screen and (max-width: 768px) {
  .accordion-content {
    padding: 0px;
  }
}

/* Chrome & Safari */
input[type="range"]::-webkit-slider-runnable-track {
  background: #4eb95f;
  border-radius: 4px;
  width: 100%;
  height: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  color: #000;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
  visibility: hidden;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #4eb95f;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}

/* IE */
input[type="range"]::-ms-track {
  background: #4eb95f;
  border-radius: 4px;
  width: 100%;
  height: 14px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -7px;
  cursor: pointer;
}

input:focus,
input:focus {
  outline: none;
}

.range-wrap {
  position: relative;
  margin: 12px auto;
}

.range {
  width: 100%;
}

.bubble {
  background: #fff;
  color: #000;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 620px) {
  .bubble {
    font-size: 5.712px;
    padding: 6px;
  }

  .range-wrap {
    position: relative;
    margin: 0px auto;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
  }
}
