.dropdown {
  display: flex;
  /* gap: 90px; */
  align-items: center;
  gap: 20px;
  width: 100%;
}

.dropdown .dropdownBtn {
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 20px;

  /* padding-right: 40px; */
}

.dropdown .dropdownContent {
  position: absolute;
  top: 55px;
  padding: 10px 5px;
  gap: 5px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 170px;
  transform: translate(0px, 10px);
  border-radius: 10px;
  z-index: 1;
  background: #0f212e;
  border-radius: 6px;
}

.dropdown .dropdownContent .dropdownItem {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 12px;
  background: #304553;
  border-radius: 50px;
  color: #ffffff;
  /* font-family: "MostraNuova"; */
  font-style: normal;
  font-weight: 300;
  justify-content: flex-start;
}

.dropdown .dropdownContent .dropdownItem > div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  color: #ffffff;
  /* font-family: "MostraNuova"; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* background-color: #ffffff; */
}

.dropdown .dropdownContent .dropdownItem > div img {
  height: 20px;
  /* background-color: #ffffff; */
}

.dropdown .dropdownContent .dropdownItem:hover {
  background: #f4f4f4;
}

.dropdown .dropdownBtn .connect-btn-nft > button {
  width: 100%;
  max-width: 100px;
  min-height: 39px;
  background: linear-gradient(90deg, #607099 -8.82%, #a533ff 111.76%);
  border-radius: 6px;
  cursor: pointer;
  font-family: "mostra-nuova", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown .dropdownBtn .connect-btn > button {
  width: 100%;
  max-width: 100px;
  min-height: 39px;
  background: linear-gradient(180deg, #fab263 0%, #5f3a12 80.03%);
  border-radius: 6px;
  cursor: pointer;
  font-family: "mostra-nuova", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 0px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-section {
  display: flex;
  padding: 0px 8px;
  width: 100%;
}

#google_element {
  padding: 0px 10px;
}

.dropdown .dropdownBtn button img {
  width: 31px;
}

.dropdown .dropdownBtn .Nav-Btn {
  border: none;
  padding: 1px 5px;
  color: #ffffff;
  background: #0f212e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  display: flex;
  grid-gap: 15px;
  align-items: center;
}

.dropdown .dropdownBtn .Nav-Btn1 {
  border: none;
  padding: 1px 10px;
  color: #ffffff;
  background: #0f212e;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 100%;
  display: flex;
  grid-gap: 25px;
  align-items: center;
}

.Nav-text {
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
  align-items: center;
  width: 135px;
  padding: 9px 5px;
}

#withdraw {
  height: 37px;
  margin-top: 2px;
}

/* .dropdown img:nth-child(2) {
  margin-top: 5px;
  margin-left: 10px;
} */

.right-nav,
.right-nav-nft {
  display: flex;
  gap: 20px;
}
.right-nav > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #0f212e;
  border-radius: 6px;
  padding: 3px 10px;
  max-width: 200px;
}
.right-nav-nft > label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #1d1625;
  border-radius: 6px;
  padding: 5px 10px;
  max-width: 222px;
}
.right-nav-nft > label > span {
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  font-style: normal;
  font-weight: 500;
}

.right-nav > label > input {
  width: 100%;
  /* max-width: 138px; */
  /* min-height: 25px; */
  min-height: 30px;
  border-radius: 6px;
  border: none;
  background: #0f212e;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.right-nav-nft > label > input {
  width: 100%;
  /* max-width: 138px; */
  /* min-height: 25px; */
  min-height: 30px;
  border-radius: 6px;
  border: none;
  background: #1d1625;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  text-align: end;
}

.right-nav > label > input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.right-nav-nft > label > input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

#label-nav {
  padding-top: 6px;
}
.dollar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dollar-text {
  display: flex;
  flex-direction: column;
}
.dollar-text > span {
  font-size: 12px;
  color: #999999;
}
.dollar-text > input {
  width: 100%;
  min-height: 30px;
  border-radius: 6px;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  max-width: 60px;
}

.dollar-text > input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}

@media screen and (max-width: 1080px) {
  .dropdown {
    justify-content: flex-end;
    margin-right: 50px;
  }

  .dropdown .dropdownContent {
    max-width: 175px;
    transform: translate(-4px, -2px);
  }

  .dropdown .dropdownContent .dropdownItem {
    gap: 50px;
    font-size: 12px;
  }

  .dropdown .dropdownBtn .connect-btn {
    padding: 5px 0px 0px 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 0px 5px;
  }

  .right-nav {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0px 50px;
  }

  .right-nav > label > input {
    width: 100%;
    max-width: 60px;
    min-height: 25px;
    border-radius: 6px;
    border: none;
    background: #0f212e;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #ffffff;
  }

  .right-nav > label > input > img {
    width: 12px;
    height: 12px;
  }

  .right-nav > label {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 1024px) {
  .dropdown {
    justify-content: flex-end;
    margin-right: 50px;
  }
  .dropdown .dropdownContent {
    max-width: 175px;
    transform: translate(-4px, -2px);
  }

  .dropdown .dropdownContent .dropdownItem {
    gap: 50px;
    font-size: 12px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 0px 5px;
  }

  .right-nav,
  .right-nav-nft {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px 0px 35px;
  }

  .right-nav-nft > label > input {
    width: 100%;
    max-width: 40px;
    min-height: 25px;
    border-radius: 6px;
    border: none;
    background: #0f212e;
    font-weight: 700;
    font-size: 11px;
    line-height: 140%;
    color: #ffffff;
  }

  .right-nav > label > input > img {
    width: 12px;
    height: 12px;
  }
  .right-nav-nft > label > input > img {
    width: 12px;
    height: 12px;
  }

  .right-nav > label {
    padding: 0px 5px;
  }
  .right-nav-nft > label {
    padding: 0px 5px;
  }

  .right-nav > label > input::placeholder {
    font-size: 11px;
  }
  .right-nav-nft > label > input::placeholder {
    font-size: 11px;
  }
}
@media screen and (max-width: 920px) {
  .dropdown {
    justify-content: end;
    margin-right: 20px;
  }
}

@media screen and (max-width: 820px) {
  .dropdown .dropdownContent {
    max-width: 175px;
    transform: translate(-4px, -2px);
  }

  .dropdown .dropdownContent .dropdownItem {
    gap: 50px;
    font-size: 12px;
  }

  .dropdown .dropdownBtn .connect-btn {
    padding: 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 0px 5px;
  }

  .right-nav {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px 0px 35px;
  }
  .right-nav-nft {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px 0px 35px;
  }

  .right-nav-nft > label > input {
    width: 100%;
    max-width: 40px;
    min-height: 25px;
    border-radius: 6px;
    border: none;
    background: #0f212e;
    font-weight: 700;
    font-size: 11px;
    line-height: 140%;
    color: #ffffff;
  }

  .right-nav > label > input > img {
    width: 12px;
    height: 12px;
  }
  .right-nav-nft > label > input > img {
    width: 12px;
    height: 12px;
  }

  .right-nav > label {
    padding: 0px 5px;
  }
  .right-nav-nft > label {
    padding: 0px 5px;
  }

  .right-nav > label > input::placeholder {
    font-size: 11px;
  }
  .right-nav-nft > label > input::placeholder {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    max-width: 160px;
    margin: 0 auto;
  }

  .dropdown .dropdownContent {
    max-width: 175px;
    transform: translate(-4px, -2px);
  }

  .dropdown .dropdownContent .dropdownItem {
    gap: 50px;
    font-size: 12px;
  }

  .dropdown .dropdownBtn .connect-btn {
    padding: 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 0px 5px;
  }

  .right-nav {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px 0px;
  }
  .right-nav-nft {
    gap: 5px;
    height: 39px;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px 0px;
  }

  .right-nav-nft > label > input {
    width: 100%;
    max-width: 40px;
    min-height: 25px;
    border-radius: 6px;
    border: none;
    background: #0f212e;
    font-weight: 700;
    font-size: 11px;
    line-height: 140%;
    color: #ffffff;
  }

  .right-nav > label > input > img {
    width: 12px;
    height: 12px;
  }
  .right-nav-nft > label > input > img {
    width: 12px;
    height: 12px;
  }
  .right-nav > label {
    padding: 0px 5px;
  }
  .right-nav-nft > label {
    padding: 0px 5px;
  }

  .right-nav > label > input::placeholder {
    font-size: 11px;
  }
  .right-nav-nft > label > input::placeholder {
    font-size: 11px;
  }
}

@media screen and (max-width: 640px) {
  .right-nav {
    margin: 20px 0px 35px;
  }
  .right-nav-nft {
    margin: 20px 0px 35px;
  }
}
@media screen and (max-width: 540px) {
  .dropdown .dropdownBtn .Nav-Btn1 {
    padding: 5px 15px;
  }

  .dropdown {
    width: 200px;
  }
}

@media screen and (max-width: 423px) {
  .right-nav {
    margin: 20px 0px 40px;
  }
  .right-nav-nft {
    margin: 20px 0px 40px;
  }
  .right-nav > label {
    max-width: 150px;
  }
  .right-nav-nft > label {
    max-width: 150px;
  }
  .dropdown {
    align-items: center;

    /* width: 180px; */
  }
  .dropdown .dropdownBtn {
    padding-right: 0px;
  }
  .dropdown .dropdownContent .dropdownItem {
    gap: 32px;
    font-size: 12px;
  }

  .dropdown .dropdownContent {
    max-width: 155px;
    transform: translate(-5px, 8px);
  }

  .dropdown .dropdownBtn .Nav-Btn .Nav-text {
    width: 95px;
    padding: 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 12px 5px;
  }
}
@media screen and (max-width: 375px) {
  .right-nav {
    margin: 20px 0px 40px;
  }
  .right-nav-nft {
    margin: 20px 0px 40px;
  }
  .right-nav-nft > label {
    max-width: 150px;
  }
  .dropdown {
    align-items: center;

    /* width: 180px; */
  }
  .dropdown .dropdownBtn {
    padding-right: 0px;
  }
  .dropdown .dropdownContent .dropdownItem {
    gap: 32px;
    font-size: 12px;
  }

  .dropdown .dropdownContent {
    max-width: 155px;
    transform: translate(-5px, 8px);
  }

  .dropdown .dropdownBtn .Nav-Btn .Nav-text {
    width: 95px;
    padding: 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 12px 5px;
  }
}
@media screen and (max-width: 325px) {
  .right-nav {
    display: flex;
    margin: 20px 0px 40px;
  }
  .right-nav-nft {
    display: flex;
    margin: 20px 0px 40px;
  }
  .right-nav > label {
    max-width: 135px;
  }
  .right-nav-nft > label {
    max-width: 135px;
  }
  .dropdown {
    align-items: center;

    /* width: 180px; */
  }
  .dropdown .dropdownBtn {
    padding-right: 0px;
  }
  .dropdown .dropdownContent .dropdownItem {
    gap: 32px;
    font-size: 12px;
  }

  .dropdown .dropdownContent {
    max-width: 155px;
    transform: translate(-5px, 8px);
  }

  .dropdown .dropdownBtn .Nav-Btn .Nav-text {
    width: 95px;
    padding: 0px;
  }

  .dropdown .dropdownBtn .Nav-Btn {
    padding: 12px 5px;
  }
}
@media screen and (max-width: 280px) {
  .dropdown .dropdownBtn .Nav-Btn1 {
    font-size: 12px;
    grid-gap: 5px;
  }

  .dropdown .dropdownBtn .Nav-Btn .Nav-text {
    width: 56px;
    padding: 0px;
    gap: 1px;
  }
}
